body{
    margin: 0 ;
}
.container{
    border: 5px solid black;
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    align-content: space-evenly ;
}
.flex-item{
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.item-1{
    background-color: red;
}
.item-2{
    background-color: blue;
}
.item-3{
    background-color: aqua;
}
.item-4{
   background-color: green;
}
.item-5{
   background-color: blueviolet;
}
.item-6{
   background-color: brown;
}
.item-7{
    background-color: chartreuse;
}
.item-8{
   background-color: chocolate;
}
.item-9{
    background-color: crimson;
}
.item-10{
    background-color: gold;
}
