<%@include file="navbar.jsp" %>
<!-- Contact Start -->
 <div class="container-fluid py-5">
 <div class="container pt-5 pb-3">
 <h1 class="display-4 text-uppercase text-center mb-5">User Login</h1>
 <div class="row">
 <div class="col-lg-7 mb-2">
 <div class="contact-form bg-light mb-4" style="padding: 30px;">
 <form action="userlogin" method="post">
 <div class="form-group">
 <input type="email" name="EmailId" class="form-control p-4" placeholder="Enter 
Email Id" required>
 </div>
 <div class="form-group">
 <input type="password" name="Password" class="form-control p-4" 
placeholder="Enter Password" required>
 </div>
 <div>
 <button class="btn btn-primary py-3 px-5" type="submit">Submit</button>
 <button class="btn btn-primary"><a href="signup.jsp" class="btn btn-primary py-2 
px-5">Signup</a></button>
 </div>
 </form>
 </div>
TIT MCA 2023 “FOUR WHEELER BOOKING”
33
 </div>
 <div class="col-lg-5 mb-2">
 <img src="img/login.jpg" height="250px">
 </div>
 </div>
 </div>
 </div>
 <!-- User Login End -->
<%
String validMsg = (String) session.getAttribute("validMsg");
String invalidMsg = (String) session.getAttribute("invalidMsg");
if (validMsg != null) {
%>
<script>
alert("Logged in Successfully");
window.location.assign("user/userindex.jsp");
</script>
<%
session.removeAttribute("validMsg");
}
%>
<%
if (invalidMsg != null) {
%>
<script>
alert("Invalid Creadential !! Please Try Again..");
</script>
<%
session.removeAttribute("invalidMsg");
}
%>
<%@include file="footer.jsp" %>
TIT MCA 2023 “FOUR WHEELER BOOKING”
34
VIEW CAR LIST PAGE CODING
<%@page import="com.carrental.DbConnect"%>
<%@page import="java.sql.*"%>
<%@include file="usernavbar.jsp" %>
<!-- Search Start -->
<div class="container-fluid bg-white pt-3 px-lg-5">
<form action="searchCarList.jsp" method="post">
<div class="row mx-n2">
<div class="col-xl-4 col-lg-4 col-md-6 px-2">
<select class="custom-select px-4 mb-3" style="height: 50px;"
name="brand" required>
<option value="">Select Brand</option>
<%
try {
Connection con = DbConnect.Connect();
Statement st = con.createStatement();
ResultSet rs = st.executeQuery("select * from 
brands");
while (rs.next()) {
%>
<option 
value="<%=rs.getInt("id")%>"><%=rs.getString("BrandName")%></option>
<%
}
}
catch (Exception e) {
System.out.println(e);
}
%>
</select>
TIT MCA 2023 “FOUR WHEELER BOOKING”
35
</div>
<div class="col-xl-4 col-lg-4 col-md-6 px-2">
<select class="custom-select px-4 mb-3" style="height: 50px;"
name="fuelType" required>
<option value="">Select Fuel Type</option>
<option value="Petrol">Petrol</option>
<option value="Diesel">Diesel</option>
<option value="CNG">CNG</option>
</select>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 px-2">
<button class="btn btn-primary btn-block mb-3" type="submit"
style="height: 50px;">Search</button>
</div>
</div>
</form>
</div>
<!-- Search End -->
<!-- Rent A Car Start -->
<div class="container-fluid py-5">
<div class="container pt-5 pb-3">
<h1 class="display-4 text-uppercase text-center mb-5">Find Your
Car</h1>
<div class="row">
<%
try {
Connection con = DbConnect.Connect();
Statement st = con.createStatement();
ResultSet rs = st.executeQuery(
"SELECT 
vehicles.VehiclesTitle,brands.BrandName,vehicles.PricePerDay,vehicles.FuelType,vehicles.ModelYear,ve
TIT MCA 2023 “FOUR WHEELER BOOKING”
36
hicles.id,vehicles.SeatingCapacity,vehicles.VehiclesOverview,vehicles.Vimage1 from vehicles join brands 
on brands.id=vehicles.VehiclesBrand");
while (rs.next()) {
%>
<div class="col-lg-4 col-md-6 mb-2">
<a href="#">
<div class="rent-item mb-4">
<img class="img-fluid mb-4"
src="../images1/<%=rs.getString("Vimage1")%>" 
width="100%"
height="150px" alt="">
<h4 class="text-uppercase mb4"><%=rs.getString("VehiclesTitle")%></h4>
<div class="d-flex justify-content-center mb-4">
<div class="px-2">
<i class="fa fa-car text-primary mr-1"></i> 
<span><%=rs.getInt("ModelYear")%>Model</span>
</div>
<div class="px-2 border-left border-right">
<i class="fa fa-cogs text-primary mr1"></i> <span><%=rs.getString("FuelType")%></span>
</div>
<div class="px-2">
<i class="fa fa-road text-primary mr1"></i> <span><%=rs.getInt("SeatingCapacity")%>Seater</span>
</div>
</div>
<a class="btn btn-primary px-3" 
href=""><%=rs.getFloat("PricePerDay")%>
Rs./Day</a>
</div>
</a>
</div>
TIT MCA 2023 “FOUR WHEELER BOOKING”
37
<%
}
} catch (Exception e) {
System.out.println(e);
}
%>
</div>
</div>
</div>
<!-- Rent A Car End -->
<!-- Banner Start -->
<div class="container-fluid py-5">
<div class="container py-5">
<div class="row mx-0">
<div class="col-lg-6 px-0">
<div
class="px-5 bg-secondary d-flex align-items-center justify-contentbetween"
style="height: 350px;">
<img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4"
src="../img/banner-left.png" alt="">
<div class="text-right">
<h3 class="text-uppercase text-light mb-3">Want to be 
driver?</h3>
<p class="mb-4">Lorem justo sit sit ipsum eos lorem kasd, 
kasd
labore</p>
</div>
</div>
</div>
<div class="col-lg-6 px-0">
<div
TIT MCA 2023 “FOUR WHEELER BOOKING”
38
class="px-5 bg-dark d-flex align-items-center justify-contentbetween"
style="height: 350px;">
<div class="text-left">
<h3 class="text-uppercase text-light mb-3">Looking for a 
car?</h3>
<p class="mb-4">Lorem justo sit sit ipsum eos lorem kasd, 
kasd
labore</p>
</div>
<img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4"
src="../img/banner-right.png" alt="">
</div>
</div>
</div>
</div>
</div>
<!-- Banner End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
<div class="container py-5">
<div class="owl-carousel vendor-carousel">
<div class="bg-light p-4">
<img src="../img/vendor-1.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-2.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-3.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-4.png" alt="">
TIT MCA 2023 “FOUR WHEELER BOOKING”
39
</div>
<div class="bg-light p-4">
<img src="../img/vendor-5.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-6.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-7.png" alt="">
</div>
<div class="bg-light p-4">
<img src="../img/vendor-8.png" alt="">
</div>
</div>
</div>
</div>
<!-- Vendor End -->
<%@include file="userfooter.jsp" %>
TIT MCA 2023 “FOUR WHEELER BOOKING”
40
VIEW VEHICLE DETAIL PAGE
<%@page import="com.carrental.DbConnect"%>
<%@page import="java.sql.*"%>
<%@include file="usernavbar.jsp" %>
<!-- Page Header Start -->
<div class="container-fluid page-header" xmlns="http://www.w3.org/1999/html">
 <h1 class="display-3 text-uppercase text-white mb-3">Car Detail</h1>
 <div class="d-inline-flex text-white">
 <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'userindex' 
%}">Home</a></h6>
 <h6 class="text-body m-0 px-3">/</h6>
 <h6 class="text-uppercase text-body m-0">Car Detail</h6>
 </div>
</div>
<!-- Page Header Start -->
<!-- Detail Start -->
<div class="container-fluid pt-5">
 <div class="container pt-5">
 <div class="row">
 <div class="col-lg-8 mb-5">
 <%
int id = Integer.parseInt(request.getParameter("id"));
 int bid=0;
try {
Connection con = DbConnect.Connect();
Statement st = con.createStatement();
ResultSet rs = st.executeQuery(
"SELECT vehicles.*,brands.BrandName,brands.id 
from vehicles join brands on brands.id=vehicles.VehiclesBrand where vehicles.id="
+ id + "");
while (rs.next()) {
bid = rs.getInt("VehiclesBrand");
TIT MCA 2023 “FOUR WHEELER BOOKING”
41
%>
 <h1 class="display-4 text-uppercase mb-5">
 <%=rs.getString("BrandName")%>,<%=rs.getString("VehiclesTitle")%></h1>
 <div class="row pt-2">
 <div class="col-md-3 col-6 mb-2">
 <i class="fa fa-car text-primary mr-2"></i>
 <span>Model: <%=rs.getInt("ModelYear")%></span>
 </div>
 <div class="col-md-3 col-6 mb-2">
 <i class="fa fa-cogs text-primary mr-2"></i>
 <span>Fuel Type : <%=rs.getString("FuelType")%></span>
 </div>
 <div class="col-md-3 col-6 mb-2">
 <i class="fa fa-road text-primary mr-2"></i>
 <span>Capacity : <%=rs.getInt("SeatingCapacity")%> Seat</span>
 </div>
 <div class="col-md-3 col-6 mb-2">
 <i class="fa fa-eye text-primary mr-2"></i>
 <span>Price : <%=rs.getFloat("PricePerDay")%>/day</span>
 </div>
 </div>
 <div class="row mx-n2 mb-3">
 <div class="col-md-3 col-6 px-2 pb-2">
 <img class="img-fluid w-100" src="../images1/<%=rs.getString("Vimage1")%>" 
style="width: 100%; height: 150px;">
 </div>
 <div class="col-md-3 col-6 px-2 pb-2">
 <img class="img-fluid w-100" src="../images1/<%=rs.getString("Vimage2")%>"
style="width: 100%; height: 150px;">
 </div>
 <div class="col-md-3 col-6 px-2 pb-2">
 <img class="img-fluid w-100" src="../images1/<%=rs.getString("Vimage3")%>" 
style="width: 100%; height: 150px;">
 </div>
TIT MCA 2023 “FOUR WHEELER BOOKING”
42
 <div class="col-md-3 col-6 px-2 pb-2">
 <img class="img-fluid w-100" src="../images1/<%=rs.getString("Vimage4")%>" 
style="width: 100%; height: 150px;">
 </div>
 </div>
 <div class="container-fluid">
 <ul class="nav nav-tabs">
 <li class="active"><a data-toggle="tab" href="#home">Overview</a></li> 
&nbsp;&nbsp;&nbsp;
 <li><a data-toggle="tab" href="#menu1">Accessories</a></li>
 </ul>
 <div class="tab-content">
 <div id="home" class="tab-pane fade in active">
 <h3>Vehicles Overview</h3>
 <p><%=rs.getString("VehiclesOverview")%></p>
 </div>
 <div id="menu1" class="tab-pane fade">
 <h3>Accessories</h3>
 <table>
<tbody>
<tr>
<td>Air Conditioner</td>
 
<% 
if(rs.getString("AirConditioner").equalsIgnoreCase("yes")) {
%>
<td><i class="fa facheck" aria-hidden="true"></i></td>
<%
} else {
TIT MCA 2023 “FOUR WHEELER BOOKING”
43
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%>
</tr>
<tr>
<th>AntiLock Braking 
System</th> 
<% 
if(rs.getString("AntiLockBrakingSystem").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Power Steering</td> 
<% 
if(rs.getString("PowerSteering").equals("yes")) {
TIT MCA 2023 “FOUR WHEELER BOOKING”
44
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Power Windows</td> 
<% 
if(rs.getString("PowerWindows").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>CD Player</td> 
TIT MCA 2023 “FOUR WHEELER BOOKING”
45
<% 
if(rs.getString("CDPlayer").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Leather Seats</td> 
<% 
if(rs.getString("LeatherSeats").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
TIT MCA 2023 “FOUR WHEELER BOOKING”
46
<tr>
<td>Central Locking</td> 
<% 
if(rs.getString("CentralLocking").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Power Door 
Locks</td> 
<% 
if(rs.getString("PowerDoorLocks").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
TIT MCA 2023 “FOUR WHEELER BOOKING”
47
%> 
</tr>
<tr>
<td>Brake Assist</td>
<% 
if(rs.getString("BrakeAssist").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Driver Airbag</td>
<% 
if(rs.getString("DriverAirbag").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
TIT MCA 2023 “FOUR WHEELER BOOKING”
48
}
%> 
</tr>
<tr>
<td>Passenger Airbag</td>
<% 
if(rs.getString("PassengerAirbag").equals("yes")) {
%>
<td><i class="fa fa-check" 
aria-hidden="true"></i></td>
<%
} else {
%>
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
<tr>
<td>Crash Sensor</td>
<% 
if(rs.getString("CrashSensor").equals("yes")) {
%>
<td><i class="fa fa-check"
aria-hidden="true"></i></td>
<%
} else {
%>
TIT MCA 2023 “FOUR WHEELER BOOKING”
49
<td><i class="fas fa-times" 
aria-hidden="true"></i></td>
<%
}
%> 
</tr>
</tbody>
</table>
 </div>
 </div>
 </div>
 <%
}
} catch (Exception e) {
e.printStackTrace();
}
%>
 </div>
 <div class="col-lg-4 mb-5">
 <form action="../bookCar" method="post">
 
 <div class="bg-secondary p-5">
 <h3 class="text-primary text-center mb-4">Book Now</h3>
 <div class="form-group">
 <div class="date" data-target-input="nearest">
 <input type="date" name="FromDate" class="form-control p-4 datetimepicker-input" 
placeholder="From Date"
 required>
 </div>
 </div>
 <div class="form-group">
TIT MCA 2023 “FOUR WHEELER BOOKING”
50
 <div class="date" id="date1" data-target-input="nearest">
 <input type="date" name="ToDate" class="form-control p-4 datetimepicker-input" 
placeholder="To Date"
 required>
 </div>
 </div>
 <div class="form-group">
 <textarea type="text" name="message" class="form-control p-4" 
placeholder="Message..." required></textarea>
 </div>
 <input type="hidden" name="id" value="<%=id%>" >
 <input type="hidden" name="email" value="<%out.println(email);%>">
 <div class="form-group mb-0">
 <button class="btn btn-primary btn-block" type="submit" style="height: 50px;">Book 
Now</button>
 </div>
 </div>
 </form>
 </div>
 </div>
</div>
</div>
<%
String msg = request.getParameter("msg");
if ("valid".equals(msg)) {
%>
<script>
alert("Your Booking has been Successfully.");
window.location.assign("userindex.jsp");
</script>
<%
}
%>
<!-- Detail End -->
TIT MCA 2023 “FOUR WHEELER BOOKING”
51
<!-- Related Car Start -->
 <div class="container-fluid pb-5">
 <div class="container pb-5">
 <h2 class="mb-4">Related Cars</h2>
 <div class="row">
<%
try {
Connection con = DbConnect.Connect();
Statement st = con.createStatement();
ResultSet rs = st.executeQuery(
"SELECT 
vehicles.VehiclesTitle,brands.BrandName,vehicles.PricePerDay,vehicles.FuelType,vehicles.ModelYear,ve
hicles.id,vehicles.SeatingCapacity,vehicles.VehiclesOverview,vehicles.Vimage1 from vehicles join brands 
on brands.id=vehicles.VehiclesBrand where vehicles.VehiclesBrand="+bid+" and vehicles.id !="+id);
while (rs.next()) {
%>
<div class="col-lg-4 col-md-6 mb-2">
<a href="vehicleDetails.jsp?id=<%=rs.getInt("id") %>">
<div class="rent-item mb-4">
<img class="img-fluid mb-4" 
src="../images1/<%=rs.getString("Vimage1")%>" width="100%"
height="150px" alt="">
<h4 class="text-uppercase mb4"><%=rs.getString("VehiclesTitle")%></h4>
<div class="d-flex justify-content-center mb-4">
<div class="px-2">
<i class="fa fa-car text-primary mr-1"></i> 
<span><%=rs.getInt("ModelYear")%>Model</span>
</div>
<div class="px-2 border-left border-right">
<i class="fa fa-cogs text-primary mr1"></i> <span><%=rs.getString("FuelType")%></span>
TIT MCA 2023 “FOUR WHEELER BOOKING”
52
</div>
<div class="px-2">
<i class="fa fa-road text-primary mr1"></i> <span><%=rs.getInt("SeatingCapacity")%>Seater</span>
</div>
</div>
<a class="btn btn-primary px-3" 
href=""><%=rs.getFloat("PricePerDay")%></a>
</div>
</a>
</div>
<%
}
} catch (Exception e) {
e.printStackTrace();
}
%>
</div>
 </div>
 </div>
 <!-- Related Car End -->
<%@include file="userfooter.jsp" %>
TIT MCA 2023 “FOUR WHEELER BOOKING”
53
 VIEW BOOKING HISTORY PAGE CODING
<%@page import="com.carrental.Booking"%>
<%@page import="java.util.List"%>
<%@page import="com.carrental.BookDAO"%>
<%@include file="usernavbar.jsp"%>
<!-- Page Header Start -->
<div class="container-fluid page-header"
xmlns="http://www.w3.org/1999/html">
<h1 class="display-3 text-uppercase text-white mb-3">My Booking</h1>
<div class="d-inline-flex text-white">
<h6 class="text-uppercase m-0">
<a class="text-white" href="{% url 'userindex' %}">Home</a>
</h6>
<h6 class="text-body m-0 px-3">/</h6>
<h6 class="text-uppercase text-body m-0">My Booking</h6>
</div>
</div>
<!-- Page Header Start -->
<div class="container-fluid py-2">
<div class="container pt-2 pb-3">
<h1 class="display-4 text-uppercase text-center mb-2">My Booking</h1>
<div class="row">
<div class="col-lg-12 mb-2">
<div class="contact-form bg-light mb-4" style="padding: 30px;">
<table id="example1" class="table table-bordered table-striped">
<thead>
<tr style="background-color: #c5c5c5;">
<th>#</th>
<th><i class="fa fa-list-ol"></i> Booking 
No.</th>
<th><i class="fa fa-list-ol"></i> Vehicle</th>
<th><i class="fa fa-calendar"></i> From 
Date</th>
TIT MCA 2023 “FOUR WHEELER BOOKING”
54
<th><i class="fa fa-calendar"></i> To 
Date</th>
<th><i class="fa fa-list-ol"></i> Status</th>
<th><i class="fa fa-calendar"></i> Booking 
Date</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<%
BookDAO dao = new 
BookDAO(DbConnect.Connect());
List<Booking> list = dao.getAllBooking(email);
int i = 0;
for (Booking n : list) {
i++;
%>
<tr>
<td><%=i%></td>
<td><%=n.getBookingNumber()%></td>
<%
int vid = n.getVehicleId();
try {
Connection con = 
DbConnect.Connect();
Statement st = 
con.createStatement();
ResultSet rs = 
st.executeQuery("select * from vehicles where id="+vid);
if (rs.next()) {
%>
<td><%=rs.getString("VehiclesTitle")%></td>
<%
}
%>
<%
} catch (Exception e) {
TIT MCA 2023 “FOUR WHEELER BOOKING”
55
System.out.println(e);
}
%>
<td><%=n.getFromDate()%></td>
<td><%=n.getToDate()%></td>
<% if (n.getStatus() == null) { %>
<td>Not Update Yet</td>
<% } else { %>
<td><%=n.getStatus()%></td>
<% } %>
<td><%=n.getPostingDate()%></td>
<td><a 
href="mybookingDtls.jsp?id=<%=n.getId()%>"
class="btn btn-sm btn-primary"><i 
class="fas fa-eye"></i>
View</a></td>
</tr>
<%
}
%>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<%@include file="userfooter.jsp"%>
TIT MCA 2023 “FOUR WHEELER BOOKING”
56
ADMIN LOGIN PAGE CODING
<%@include file="navbar.jsp" %>
<!-- Contact Start -->
 <div class="container-fluid py-5">
 <div class="container pt-5 pb-3">
 <h1 class="display-4 text-uppercase text-center mb-5">Admin Login</h1>
 <div class="row">
 <div class="col-lg-7 mb-2">
 <div class="contact-form bg-light mb-4" style="padding: 30px;">
 <form action="login" method="post">
 <div class="form-group">
 <input type="text" name="username" class="form-control p-4" placeholder="Enter 
Username" required>
 </div>
 <div class="form-group">
 <input type="password" name="password" class="form-control p-4" 
placeholder="Enter Password" required>
 </div>
 <div>
 <button class="btn btn-primary py-3 px-5" type="submit">Submit</button>
 </div>
 </form>
 </div>
 </div>
 <div class="col-lg-5 mb-2">
 <img src="img/login.jpg" height="250px">
 </div>
 </div>
 </div>
 </div>
 <!-- Admin Login End -->
TIT MCA 2023 “FOUR WHEELER BOOKING”
57
<%
String validMsg = (String) session.getAttribute("validMsg");
String invalidMsg = (String) session.getAttribute("invalidMsg");
if (validMsg != null) {
%>
<script>
alert("Logged in Successfully");
window.location.assign("admin/dashboard.jsp");
</script>
<%
session.removeAttribute("validMsg");
}
%>
<%
if (invalidMsg != null) {
%>
<script>
alert("Invalid Creadential !! Please Try Again..");
</script>
<%
session.removeAttribute("invalidMsg");
}
%>
<%@include file="footer.jsp" %>
TIT MCA 2023 “FOUR WHEELER BOOKING”
58
ADD VEHICLE DETAIL PAGE CODING
<%@page import="com.carrental.DbConnect"%>
<%@page import="java.sql.*"%>
<%@include file="adminNavbar.jsp"%>
<div class="content-wrapper">
<section class="content-header">
 <h1 align="center">
 <i class="fa fa-cab"></i> Add New Vehicle
 <small></small>
 </h1>
</section>
<section class="content">
 <div class="row">
 <div class="col-xs-12">
 <div class="box">
 <div class="box-header">
 <h3 class="box-title"><i class="fa fa-cab"></i> Add New Vehicle</h3>
 <form action="../addVehicle" method="post" enctype="multipart/form-data">
 
 <div class="modal-body">
 <div class="box box-primary">
 <div class="box-body">
 <div class="row">
 <div class="form-group col-lg-6">
 <label>Vehicle Title</label>
 <input type="text" name="VehiclesTitle" class="form-control" placeholder="Enter Vehicle Title" 
required>
 </div>
 <div class="form-group col-lg-6">
 <label>Brand</label>
TIT MCA 2023 “FOUR WHEELER BOOKING”
59
 <select name="VehiclesBrand" class="form-control" required>
 <option value="">Select Brand</option>
 <%
 try
 {
 Connection con= DbConnect.Connect();
 Statement st = con.createStatement();
 ResultSet rs = st.executeQuery("select * from brands");
 while(rs.next())
 {
 %>
 <option 
value="<%=rs.getInt("id")%>"><%=rs.getString("BrandName")%></option>
 <%
 }
 }
catch(Exception e){
System.out.println(e);
 }
%> 
 </select>
 </div>
 </div>
 <div class="row">
 <div class="form-group col-lg-12">
 <label>Vehical Overview</label>
 <textarea name="VehiclesOverview" class="form-control" required></textarea>
 </div>
 </div>
 <div class="row">
 <div class="form-group col-lg-6">
 <label>Price Per Day(In Rs.)</label>
 <input type="text" name="PricePerDay" class="form-control" required>
TIT MCA 2023 “FOUR WHEELER BOOKING”
60
 </div>
 <div class="form-group col-lg-6">
 <label>Select Fuel Type</label>
 <select name="FuelType" class="form-control" required>
 <option value="">Select Fuel Type</option>
 <option value="Petrol">Petrol</option>
 <option value="Diesel">Diesel</option>
 <option value="CNG">CNG</option>
 </select>
 </div>
 </div>
 <div class="row">
 <div class="form-group col-lg-6">
 <label>Model Year</label>
 <input type="text" name="ModelYear" class="form-control" required>
 </div>
 <div class="form-group col-lg-6">
 <label>Seating Capacity</label>
 <input type="text" name="SeatingCapacity" class="form-control" required>
 </div>
 </div>
 <h4 style="color: red">Upload Images</h4>
 <br>
 <div class="row">
 <div class="form-group col-lg-4">
 <label>Image 1</label>
 <input type="file" name="Vimage1" class="form-control">
 </div>
 <div class="form-group col-lg-4">
 <label>Image 2</label>
 <input type="file" name="Vimage2" class="form-control">
 </div>
TIT MCA 2023 “FOUR WHEELER BOOKING”
61
 <div class="form-group col-lg-4">
 <label>Image 3</label>
 <input type="file" name="Vimage3" class="form-control">
 </div>
 <div class="form-group col-lg-4">
 <label>Image 4</label>
 <input type="file" name="Vimage4" class="form-control">
 </div>
 <div class="form-group col-lg-4">
 <label>Image 5</label>
 <input type="file" name="Vimage5" class="form-control">
 </div>
 </div>
 <h4 style="color: red">Accessories</h4>
 <br>
 <div class="row">
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="AirConditioner" id="AirConditioner" value="yes">
 <span>Air Conditioner</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="PowerDoorLocks" id="PowerDoorLocks" value="yes">
 <span>Power Door Locks</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
TIT MCA 2023 “FOUR WHEELER BOOKING”
62
 <input type="checkbox" name="AntiLockBrakingSystem" id="AntiLockBrakingSystem" 
value="yes">
 <span>AntiLock Braking System</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="BrakeAssist" id="BrakeAssist" value="yes">
 <span>Brake Assist</span>
 </label>
 </div>
 </div>
 <div class="row">
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="PowerSteering" id="PowerSteering" value="yes">
 <span>Power Steering</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="DriverAirbag" id="DriverAirbag" value="yes">
 <span>Driver Airbag</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="PassengerAirbag" id="PassengerAirbag" value="yes">
 <span>Passenger Airbag</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
TIT MCA 2023 “FOUR WHEELER BOOKING”
63
 <label class="label-checkbox">
 <input type="checkbox" name="PowerWindows" id="PowerWindows" value="yes">
 <span>Power Windows</span>
 </label>
 </div>
 </div>
 <div class="row">
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="CDPlayer" id="CDPlayer" value="yes">
 <span>CD Player</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="CentralLocking" id="CentralLocking" value="yes">
 <span>Central Locking</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="CrashSensor" id="CrashSensor" value="yes">
 <span>Crash Sensor</span>
 </label>
 </div>
 <div class="input-checkbox col-lg-3">
 <label class="label-checkbox">
 <input type="checkbox" name="LeatherSeats" id="LeatherSeats" value="yes">
 <span>Leather Seats</span>
 </label>
 </div>
 </div>
TIT MCA 2023 “FOUR WHEELER BOOKING”
64
 </div>
 </div>
 </div>
 <div class="modal-footer">
 <button type="submit" class="btn btn-primary">Submit</button>
 </div>
 </form>
 </div>
 </div>
 </div>
 </div>
</section>
<%
 String msg=request.getParameter("msg");
 if("valid".equals(msg))
 {
 %>
 <script>
alert("New Vehicle has been Added");
window.location.assign("manageVehicle.jsp");
</script> 
 <%
 }
 %>
</div>
<%@include file="adminFooter.jsp"%>
TIT MCA 2023 “FOUR WHEELER BOOKING”
65
VIEW ALL BOOKINGS PAGE
<%@page import="com.carrental.DbConnect"%>
<%@page import="java.sql.*"%>
<%@include file="adminNavbar.jsp"%>
<div class="content-wrapper">
<section class="content">
<div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-header">
<h3 class="box-title">
<i class="fa fa-cab"></i> All Booking
</h3>
<div class="box-body">
<table id="example1" class="table table-bordered 
table-striped">
<thead>
<tr style="background-color: 
#c5c5c5;">
<th>#</th>
<th><i class="fa fauser"></i> Full Name</th>
<th><i class="fa fa-listol"></i> Booking No.</th>
<th><i class="fa fa-listol"></i> Vehicle</th>
<th><i class="fa facalendar"></i> From Date</th>
<th><i class="fa facalendar"></i> To Date</th>
TIT MCA 2023 “FOUR WHEELER BOOKING”
66
<th><i class="fa fa-listol"></i> Status</th>
<th><i class="fa facalendar"></i> Posting Date</th>
<th>Action</th>
</tr>
</thead>
<%
try {
Connection con = 
DbConnect.Connect();
Statement st = 
con.createStatement();
ResultSet rs = 
st.executeQuery("SELECT * from booking");
int i = 0;
while (rs.next()) {
i++;
%>
<tbody>
<tr>
<td><%=i%></td>
<%
String usermail = 
rs.getString("userEmail");
try {
Connection con2 = 
DbConnect.Connect();
Statement st2 = 
con2.createStatement();
ResultSet rs2 = 
st2.executeQuery("select * from users where EmailId='"+ usermail +"' ");
TIT MCA 2023 “FOUR WHEELER BOOKING”
67
if (rs2.next()) {
%>
<td><%=rs2.getString("FullName")%></td>
<%
}
%>
<%
} catch (Exception e) 
{
System.out.println(e);
}
%>
<td><%=rs.getString("BookingNumber")%></td>
<%
String vid = 
rs.getString("VehicleId");
try {
Connection con1 = DbConnect.Connect();
Statement st1 = con1.createStatement();
ResultSet rs1 = st1.executeQuery("select * from vehicles where id=" +vid);
if (rs1.next()) {
%>
<td><%=rs1.getString("VehiclesTitle")%></td>
<%
}
%>
<%
} catch (Exception e) 
{
System.out.println(e);
TIT MCA 2023 “FOUR WHEELER BOOKING”
68
}
%>
<td><%=rs.getString("FromDate")%></td>
<td><%=rs.getString("ToDate")%></td>
<%
 if (rs.getString("Status") 
== null){
%>
<td>Not Update Yet</td>
<% } else { %>
<td><%=rs.getString("Status")%></td>
<% } %>
<td><%=rs.getString("PostingDate")%></td>
<td align="center"><a 
class="btn btn-primary btn-sm"
href="viewBooking.jsp?id=<%=rs.getInt("id")%>"><i class="fa fa-eye"></i></a></td>
</tr>
<%
}
} catch (Exception e) {
e.printStackTrace();
}
%>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<%@include file="adminFooter.jsp" %>
